<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <ul class="nav navbar-nav navbar-left">
        <li><a class "navbar-brand" href="#">Home</a></li>
        <li><a href="/admin-login/">Admin Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class "navbar-brand" href="#">Cart: <b>({{cart_size}}) Items </b></a></li>
        <li><a href="/cart/checkout">Checkout</a></li>
      </ul>
    </nav>
    <br>
    <br>
    <div class="page-header" style="test-align:center">
      <h2>SimpleStore!</h2>
    </div>
    <div class = "row">
      {% for product in store_items %}
      <div class="col-md-4 well" style="text-align:center">
        <b>{{product.name}}</b>
        <br>
        <p>{{product.description}}</p>
        <br>
        <img src={{product.imglink}} style="max-width:200px">
        <br>
        <span class = "label label-primary">{{product.price}}</span>
        <br>
        <br>
        <form method = "post">
          {% csrf_token%}
          <input type="submit" value = "Add to Cart" class = "btn btn-success">
          <input type="hidden" name="obj_id" value={{product.id}}>
        </form>
        </div>
        {% endfor %}
      </div>
  </body>
</html>
